[Unit]
Description=Emulator adb service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/emulator/

# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=emulator_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=emulator_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=emulator_*" | xargs docker rm'
# Compose up
ExecStart=/usr/local/bin/docker-compose up
ExecStartPost=/bin/bash -c 'echo "VIRTUAL_DEVICE_BOOT_STARTED"'

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target
